{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<section class="section-content padding-y-sm bg">
    <div class="container">
  
    
    <div class="row wow fadenI">
        <div class="col-6 col-md-3"> 
          </div>
          <div class="card shadow-lg p-3 mb-5 bg-white rounded">
            <div class="col-12 col-m-6 w-100">
                    <form class="form-horizontal" method="POST" enctype="multipart/form-data">

                        {% csrf_token %}
                            {{ form|crispy }}
                           
                        <input type="submit" class="btn btn-primary btn-lg" name="register">
                
                    </form>

                    <script src="https://www.paypal.com/sdk/js?client-id=sb"></script>
                    <script>paypal.Buttons().render('body');</script>   
            </div> 
        </div>
          <div class="col-6 col-md-3"> 
        </div>
      </div>
      
      </div>
      </section>
      
{% endblock content %}