{% extends "base.html" %}

{% block content %}
            <!-- Begin Li's Breadcrumb Area -->
        
            <!-- Li's Breadcrumb Area End Here -->
            <!-- content-wraper start -->
            <div class="container">
            <div class="content-wraper">
                <div class="container">
                    <div class="row single-product-area">
                        <div class="col">
                           <!-- Product Details Left -->
                            
                                
                                
                                        <p>  <a href ="/" class="btn btn-primary">Back Home</a> </p>
                                
                                
                            
                            <!--// Product Details Left -->
                        </div>

                       
        </div>
        <!-- Body Wrapper End Here -->
    </div>
{% endblock content %}
